.image-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Crea tres columnas de igual tamaño */
}

.image {
  width: 90%; /* La imagen ocupa el 100% del contenedor */
  border-radius: 10px;
  margin-top: 70px; /* Agrega un margen de 20px arriba de la imagen */
  gap: 2%;
  transition: transform 0.3s ease; /* Transición suave para el cambio de escala */
  cursor: pointer;
}

.image:hover {
  transform: scale(1.1); /* Aplica el scale(1.1) al pasar el mouse */
}

h3, p {
  line-height: 1.2; /* Reduce la altura de las líneas */
}

body {
  font-family: Arial, light;
  font-size: 20px;
  margin: 20px;
  align-items: left;
}

.recipe-details p {
  white-space: pre-line; /* Respetará los saltos de línea */
}