.alineamiento {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.alineamiento_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_imagen {
  width: 500px;
}

.alineamiento-botones {
  display: flex;
  justify-content: end;
  position: relative; /* Esto permite que los elementos hijos usen posición absoluta con respecto a este contenedor */
}

.alineamiento-boton-login {
  display: flex;
  justify-content: end;
  position: absolute;
  top: 1rem;
  left: 75rem;
  border-radius: 5px;
  font-size: 25px; /* Aumenta el tamaño de la fuente*/
}
#login-btn:hover {
  border: 2px solid #0a3fa1; /* Borde azul */
  background-color: #ffffff; /* Fondo azul */
  color: white; /* Cambiar color del emoji a blanco */
  box-shadow: 4px 4px 6px 0 #49abe4(0 6% 15%),
    -4px -4px 6px 0 rgb(255, 255, 255), inset -4px -4px 6px 0 rgb(255, 255, 255),
    inset 4px 4px 6px 0 rgb(255, 255, 255); /* Sombra más pronunciada en hover */
}

/*.alineamiento-boton-pais {
  
  display: flex;
  justify-content: end;
  position: absolute;
  top: 1rem;
  left: 73rem;
  font-size: 25px; /* Aumenta el tamaño de la fuente 
  
 }
/**/
/* Botón de país con efecto de borde azul al pasar el mouse */
#country-btn {
  position: absolute;
  font-size: 20px; /* Reducir el tamaño del emoji */
  padding: 5px 10px; /* Reducir el espacio alrededor del emoji */
  width: 55px; /* Establecer un ancho fijo para el botón */
  height: 45px; /* Establecer una altura fija para el botón */
  cursor: pointer;
  border: 1px solid transparent; /* Establecemos un borde transparente para no mostrarlo al principio */
  border-radius: 8px; /* Bordes redondeados */
  background-color: white; /* Fondo blanco */
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease; /* Transición suave para cambios en borde y fondo */
  left: 70rem;
  top: 1rem;
}

/* Efecto hover: Borde azul y sombra */
#country-btn:hover {
  border: 2px solid #0a3fa1; /* Borde azul */
  background-color: #ffffff; /* Fondo azul */
  color: white; /* Cambiar color del emoji a blanco */
  box-shadow: 4px 4px 6px 0 #49abe4(0 6% 15%),
    -4px -4px 6px 0 rgb(255, 255, 255), inset -4px -4px 6px 0 rgb(255, 255, 255),
    inset 4px 4px 6px 0 rgb(255, 255, 255); /* Sombra más pronunciada en hover */
}

boton #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff6464aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #dddddd;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 15px;
}

.btn-2 {
  background: #004dff;
  background: linear-gradient(0deg, #bccef8 0%, #bccef8 100%);
  border: none;
}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.busqueda {
  color: #000000; /* Cambia el color del texto */
  background-color: #ffffff; /* Cambia el color de fondo */
  border: 1px solid #ccc; /* Cambia el color del borde */
  padding: 8px; /* Agrega un poco de espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  width: 500px; /* Ajusta el ancho a 300 píxeles */
  margin: 5px;
}

.busqueda::placeholder {
  color: #3b3939; /* Cambia el color del texto del placeholder */
}

.titulo {
  font-size: 70px;
  margin-bottom: -3%;
  font-family: cursive;
}

#country-btn {
  /*
    font-size: 50px; /* Aumentar el tamaño del emoji
    padding: 5px;
    cursor: pointer;
    border: 5px solid #ffffff;
    border-radius: 5px;
    background-color: white;
    display: inline-block;*/

  /*
 display: flex;
  justify-content: end;
  position: absolute;
  top: 1rem;
  left: 75rem;
  border-radius: 5px;
  font-size: 25px; /* Aumenta el tamaño de la fuente */

  position: absolute;
  font-size: 20px; /* Reducir el tamaño del emoji (más pequeño que antes) */
  padding: 5px 10px; /* Reducir el espacio alrededor del emoji */
  width: 55px; /* Establecer un ancho fijo para el botón */
  height: 45px; /* Establecer una altura fija para el botón */
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: white;
  display: inline-block;
  text-align: center; /* Asegura que el emoji esté centrado en el botón */
  /*  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  border: 5px solid #ffffff;
  border-radius: 5px;
  background-color: white;
  display: flex;
  width: 50px; /* Ajusta el ancho a 300 píxeles */
}

.country-menu {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px;
  list-style-type: none;
  margin-top: 65px;
  color: #000000;
  font-size: 15px;
}

.country-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.country-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.country-menu li:hover {
  background-color: #e6e5e5;
}

/* pagina.css */

/* Overlay para el formulario de login */

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Estilos de la ventana de login */
.login-box {
  background-color: rgb(122, 127, 134);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.input-box {
  margin-bottom: 20px;
}
.input {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #afadad;
  border-radius: 5px;
  font-size: 16px;
}
.button-box {
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 10px;
  background-color: #acacac;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #555;
}
